.screen-header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
}
.screen-header__title {
    font-size: 32px;
    font-weight: 700;
}
.screen-header__icon span {
    margin-left: 25px;

}